*
{
	margin: 0;
	padding: 0;
}

span + span {
	margin-left:10%;
	}

div + span {
	margin-left:10%;
	}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  /*margin-left: auto;
  margin-right: auto;*/
  background-color: lightblue;
  /*background-image: url("poke_background.jpg");	
  background-size: 100% 320%;	*/
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
}

.logo img {
  position: relative;
  height: 63px;
  vertical-align: middle;
  width: 150px;
}

.imgWrapperFR {
  display: inline-block;	
  text-align: center;
  padding-top: 2%;
}

.imgWrapperSR {
  display: inline-block;	
  text-align: center;
  padding-top: 6%;
}



.outer{
	/*width: 100%;*/
	text-align: center;
}


.firstRow img {
  display: inline-block;
  position: relative;
  /*float: left;*/
  height: 150px;
  width: 200px;
  /*margin-left: auto;
  margin-right: auto;
  margin-left: 7%;
  margin-right: 5%;
  margin-top: 2%;*/

}

.secondRow img {
  display: inline-block;
  position: relative;
  /*float: left;*/
  height: 150px;
  width: 200px;
} 
